.hentry {
	padding-bottom: 2em;

	.entry-title {
		margin-top: 0;
	}

	.entry-content {
		padding: 1em 0;
	}

	.entry-footer {
		border-top: 1px solid #DDD;
		padding-top: 0.5em;
		font-style: italic;

		& > span {
			display: inline-block;
			padding-right: 1em;

			&.comments-link {
				display: none;
			}
		}
	}

}
