.site {

	&-wrapper {
		max-width: 60rem;
		margin: 0 auto;
	}

	&-header {
	}

	&-branding {
		padding: 1em 0;
	}

	&-title {
		line-height: 1;
		font-size: 2.5em;
		margin: 0;
		
		a {
			display: block;
		}
	}

	&-description {
		font-weight: 400;
	}

	&-content {
		padding: 2em;
	}

	&-footer {
		.site-wrapper p {
			padding: 2em 0;
		}
	}
}

.widget-area {
	@extend .site-wrapper;
	display: flex;
	flex-wrap: wrap;

	ul {
		padding: 0;

		li {
			display: block;
			list-style: none outside;
		}
	}
}

.widget {
	border: 1px solid #DDD;
	border-radius: 0.5em;
	margin: 0 1em;
	padding: 1em 2em;
	flex: 0 0 20%;

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}
}

