.menu-toggle {
	display: none;
}

.main-navigation {
	background: #000;
}

div[class*="menu-container"] {
	margin-left: -2em;

	& > ul {
		@extend .site-wrapper;
		display: flex;
	}

	ul {

		ul {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			background: #000;
			min-width: 10em;
		}
	}

	li {
		list-style: none outside;
		position: relative;

		&:hover ul {
			display: block;
		}
	}

	a {
		display: block;
		padding: 0.5em 1em;
		font-weight: 400;
		color: #FFF;
	}
	
	li:hover > a,
	li a:hover {
		background: #C00;
	}

	li.current-menu-item a {
		background: darkorange;
	}
}
